!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %title Wohnprojekt Pa*radieschen

    = stylesheet_link_tag 'style'

    = javascript_include_tag 'application'
    = javascript_include_tag('https://code.jquery.com/jquery-3.2.1.slim.min.js', crossorigin: 'anonymous', integrity: 'sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN')
    = javascript_include_tag('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', crossorigin: 'anonymous', integrity: 'sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q')
    = javascript_include_tag('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', crossorigin: 'anonymous', integrity: 'sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl')

    = favicon_tag 'images/favicon.ico'
  %body.layout
    .layout--navigation= partial 'layouts/navigation'
    .layout--main= yield
    .layout--footer= partial 'layouts/footer'
