!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1, shrink-to-fit=no', name: 'viewport'}
    %title Wohnprojekt Pa*radieschen

    = stylesheet_link_tag 'style'
    = javascript_include_tag 'application'

    = favicon_tag 'images/favicon.ico'
  %body.layout
    .layout--navigation= partial 'layouts/navigation'
    .layout--main= yield
    .layout--footer= partial 'layouts/footer'
