.container
  .section
    %h1 Konzept
    %p Pa*radieschen will zum einen Wohnraum kaufen, um langfristig finanzierbare Mieten zu gewährleisten. Zum anderen gibt es auch viele soziale Ziele, die fest in dem Wohnprojekt verankert sind.

  .section
    %h2 Wohnraum und Finanzierung
    %p Einfach zusammengefasst kann man den Kauf eines geeigneten Wohnraums und dessen Finanzierung in drei Teile untergliedern:
    %ul
      %li
        %strong Finden eines geeigneten Wohnraums
        %p Der Wohnraum muss Platz für ca. 14 Personen bieten (aktuelle Größe der Gruppe) und kann auf unterschiedliche Weise erschlossen werden. Sowohl der Kauf eines Grundstücks mit anschließendem Neubau, als auch der Erwerb einer leerstehenden Immobilie ist möglich. Aktuell sind sowohl Wohngemeinschaften als auch abgetrennte Wohnbereiche geplant, die allesamt von Gemeinschaftsräumen ergänzt werden. Vor dem Erwerb werden alle nötigen finanizellen Aufwände, die zum Bewohnen des möglichen Wohnobjekts nötig sind, von Architekt*innen geschätzt und mithilfe eines Finanzplans erfasst. Dadurch kann ermittelt werden, wie hoch die spätere Miete und die aufzunehmenden Kredite werden. Der Finanzierungsplan bietet auch die Möglichkeit, die Auswirkungen einzelner Kostenquellen zu bestimmen. So kann z.B. durch die Senkung des Renovierungsstandards eine günstigere Miete erzielt werden oder die Erweiterung der Fläche für Gemeinschaftsräume zu einer höheren Miete führen. Zu guter Letzt ist auch ein korrekter Finanzierungsplan Voraussetzung für die Aufnahme im #{link_to 'Mietshäuser Syndikat', 'https://www.syndikat.org/de/', target: '_blank'}.
      %li
        %strong Finanzierung und Einzug
        %p Ist ein passendes Wohnobjekt gefunden, wird die #{link_to 'Finanzierung', '/founding', target: '_blank'} gestartet. Im optimalen Fall hat man schon zuvor einen weitreichenden Unterstützer*innenkreis gefunden, so dass notwendige Gelder in Kürze zusammengetrieben werden können. Diese Gelder liegen meist in Form von Direktkrediten vor, die zusammen mit einem Bankkredit die Finanzierung des Wohnobjekts ermöglichen. Nach dem Bau, dem Kauf oder der Renovierung ziehen die Mitglieder von Pa*radieschen e.V. in den Wohnraum ein und beginnen Miete zu zahlen.
      %li
        %strong Tilgen der Schulden
        %p Die Schulden an Banken werden über viele Jahre durch die Mieten zurückgezahlt. Die Schulden an Privatkreditgeber*innen in Form von Direktkrediten werden nach wenigen Jahren durch neue Direktkredite ausgetauscht und erst nach der Bankkredittilgung vollständig aufgelöst.
    %p

  .section
    %h2 Soziales Engagement
    %p Wir möchten mit dem Pa*radieschen Wohnprojekt über den #{link_to 'Solidarbeitrag', 'https://www.syndikat.org/de/solidartransfer/', target: '_blank'} und die Unterstützung weiterer Syndikatsprojekte das Mietshäuser-Syndikat-Modell weiter verbreiten. Zudem verfolgen wir das Ziel, durch die Schaffung von Gemeinschaftsräumen, die auch für nicht-Bewohner*innen nutzbar sind, sozialem Engagement einen Raum zu geben und die Wirksamkeit unterschiedlichster Initiativen zu stärken, die mit der #{link_to 'Ausrichtung von Pa*radieschen', '/self_concept', target: '_blank'} übereinstimmen. Allgemein sollen diese Räumlichkeiten verschiedene Formen des Austauschs, des Zusammenarbeitens oder der kulturellen, sozialen und politischen Arbeit, der Begegnung und gemeinsamen Gestaltung von unterschiedlichen Interessens- und Bevölkerungsgruppen, möglich machen. Die Mitglieder*innen von Pa*radieschen selbst möchten dabei folgende konkrete Projekte umsetzen:
    %ul
      %li Gemüse anpflanzen und Aufbauen einer Permakultur
      %li Ein Windrad aufstellen
      %li Teilhabe an der #{link_to 'solidarischen Landwirtschaft Augsburg', 'https://www.facebook.com/SoLaWiAugsburg', target: '_blank'}
      %li Unterstützen von unterschiedlichen Konzepten, die das Verkaufen, Teilen und Tauschen von Lebensmitteln ermöglicht (z.B. #{link_to 'Fairteiler', 'https://foodsharing.de/#was-ist-was', target: '_blank'} oder #{link_to 'FoodCoops', 'https://www.oekoop.de/bag_contenido-4.8/cms/front_content.php?idcat=35', target: '_blank'})
      %li Einrichten einer Gemeinschaftswerkstatt
      %li Ausarbeitung von öffentlichen Anleitungen zum Kauf nachhaltiger Produkte und der Reduzierung von Plastikmüll

  .section
    %h2 Mediathek
    %p Wenn ihr die Funktionsweise des Pa*radieschen Projekts und des Mietshäuser Syndikats im allgemeinen besser verstehen wollt, könnt ihr euch die untenstehenden Links durchlesen und Videos zum Thema anschauen.
    %ul
      %li
        %p
          Offizielle Seite des Mietshäuser Syndikat: #{link_to 'https://www.syndikat.org/', 'https://www.syndikat.org/', target: '_blank'}
      %li
        %p
          Auflistung aller erfolgreichen Mietshäuser Syndikat Projekte: #{link_to 'https://www.syndikat.org/de/projekte/', 'https://www.syndikat.org/de/projekte/', target: '_blank'}
          %br
          %small In der Übersicht ist gut zu erkennen, wie unterschiedlich die einzelnen Projekte sind. Bayern hat leider noch einen verhältnismäßig kleinen Anteil an Projekten.
      %li
        %p
          Seite von Unser Haus: #{link_to 'https://unserhausev.wordpress.com/', 'https://unserhausev.wordpress.com/', target: '_blank'}
          %br
          %small Unser Haus ist das erste und bis jetzt einzige Mietshäuser Syndikat Wohnprojekt in Augsburg. Am 31.10.2016 hat die Gruppe den Wohnraum für 1.040.000 € gekauft und hat begonnen, diesen im Oktober 2018 mit einer Miete von 8,74 €/m² zu beziehen. Die Gruppe unterstützt Pa*radieschen seit Beginn der Gruppenbildung und wird auch im weiteren Projektverlauf als Vertreter des Sydikats unterstützend wirksam sein. Details zu dem Projekt selbst gibt es unter anderem auch auf der #{link_to 'Projekt Seite', 'https://www.syndikat.org/de/projekte/unser_haus/', target: '_blank'} des Mietshäuser Syndikats.
      %li
        %p
          Seite von Ligsalz8: #{link_to 'http://ligsalz8.de/', 'http://ligsalz8.de/', target: '_blank'}
          %br
          %small Ligsalz8 ist das erste und bis jetzt einzige Mietshäuser Syndikat Wohnprojekt in München. Am 01.08.2007 hat die Gruppe den Wohnraum für 842.000 € gekauft und zahlt eine Miete von 7,10 €/m². Die Gruppe hilft neben Unser Haus Pa*radieschen beim Aufbau eines weiteren Mietshäuser Syndikat Projekts. Details zu dem Projekt selbst gibt es unter anderem auch auf der #{link_to 'Projekt Seite', 'https://www.syndikat.org/de/projekte/ligsalz8/', target: '_blank'} des Mietshäuser Syndikats.
      %li
        %p
          Das ist unser Haus!: #{link_to 'https://vimeo.com/193034732', 'https://vimeo.com/193034732', target: '_blank'}
          %br
          %small Informationsfilm über das Mietshäuser Syndikat mit exemplarischen Projektvorstellungen. Dauer: Circa eine Stunde.
      %li
        %p
          Direktkredite - Die Möglichkeit einer sozialen Geldanlage: #{link_to 'https://www.youtube.com/watch?v=KK4yUBSJGd8', 'https://www.youtube.com/watch?v=KK4yUBSJGd8', target: '_blank'}
          %br
          %small Erklärvideo der SWK Mannheim (Mietshäuser Syndikat Projekt), wie die Finanzierung ihres Projekts funktioniert und welche Rolle Direktkredite spielen. Dauer: Circa fünf Minuten.
      %li
        %p
          Was ist das Mietshäuser Syndikat?: #{link_to 'https://die-danz.org/uber-das-mietshausersyndikat/', 'https://die-danz.org/uber-das-mietshausersyndikat/', target: '_blank'}
          %br
          %small In diesem Artikel wird das Mietshäuser Syndikat von der Danz (Mietshäuser Syndikat Projekt in Regensburg) erläutert.
      %li
        %p
          Rageber Bauen + Wohnen - Das Mietshäusersyndikat: #{link_to 'https://www.youtube.com/watch?v=kxRNoqwXQBQ', 'https://www.youtube.com/watch?v=kxRNoqwXQBQ', target: '_blank'}
          %br
          %small ARD-Sendung zum Thema Bauen + Wohnen, in dem das Mietshäuser Syndikat vorgestellt wird. Dauer: Circa fünf Minuten.
