.container
  .section
    %h1 Kontakt
    %p
      E-Mail: #{mail_to 'pa.radieschen@riseup.net', 'pa.radieschen@riseup.net'}
      %br
      Facebook: #{link_to 'Pa*radieschen Augsburg', 'https://fb.com/paradieschen.augsburg'}
    %p Wer Lust hat Teil der Gruppe zu werden, sich weiter über das Projekt informieren möchten oder dieses unterstützen möchte ist jederzeit herzlich auf unseren regelmäßig stattfindenden #{link_to 'Treffen und Vorträgen', 'https://www.facebook.com/pg/paradieschen.augsburg/events/'} willkommen.

  .section
    %h1 Presse
    %p Das Bildmaterial ist urheberrechtlich geschützt. Das Recht zur Nutzung der Bilder ist ausschließlich der Presse und journalistischen Medien vorbehalten, die in thematischem Zusammenhang mit Pa*radieschen stehen. Eine andere Verwendung ist nicht gestattet.
    %ul
      %li= link_to 'Logo 500x500 JPG', asset_path('jpg', 'images/logos/logo_500_500')
      %li= link_to 'Logo 1000x1000 JPG', asset_path('jpg', 'images/logos/logo_1000_1000')
      %li= link_to 'Logo 4000x4000 JPG', asset_path('jpg', 'images/logos/logo_4000_4000')
      %li= link_to 'Logo 500x500 PNG', asset_path('png', 'images/logos/logo_500_500')
      %li= link_to 'Logo 1000x1000 PNG', asset_path('png', 'images/logos/logo_1000_1000')
      %li= link_to 'Logo 4000x4000 PNG', asset_path('png', 'images/logos/logo_4000_4000')
