.container
  .section
    %h1 Finanzierung
    %p Die Finanzierung des Pa*radieschen Wohnprojekts unterscheidet sich in mehreren Punkten wesentlich von der kreditgebundenen Baufinanzierung einer Privatperson:
    %ol
      %li Die Rückzahlung aller Kredite erfolgt ausschließlich über die Mieten und Spenden an das Projekt.
      %li Neben Bankkrediten werden auch Direktkredite aufgenommen.
      %li Alle Kredite werden von einer zu gründenden GmbH des Projekts aufgenommen und die Haftung obliegt nicht den Mietern.

  .section
    %h2 Verein
    %p Die Gründung des Vereins ist einer der ersten Schritte eines Projekts. Der Verein dient primär den folgenden Punkten:
    %ul
      %li Sammeln von Spenden.
      %li Aufnahme von (kleinen) Krediten.
      %li Vereinsmitglieder*innen werden später Mieter*innen in dem Wohnobjekt.
    %p Die Gelder, die über Spenden und Kredite eingeworben werden, dienen dem Zweck der Vorbereitung zum Kauf eines passenden Wohnraums für das Projekt. Das beinhaltet unter anderen:
    %ul
      %li Finanzierung der Kosten für die Öffentlichkeitsarbeit (z.B. Druckkosten für Flyer oder Raumgebühren).
      %li Rückzahlung bereites entstandener Kosten vor der Vereinsgründung (z.B. Rückzahlung der Gründungskosten des Vereins).
      %li Bezahlung von Architekten für die Objektschätzungen vor dem Kauf.
      %li Gründungskosten der GmbH (unter anderem die Einlage von 12.600 € bzw. 25.000 €).
    %p Aufgrund der Haftung der Vereinsmitglieder*innen nimmt der Verein bestenfalls keine größeren Kredite auf als die, die für die Finanzierung der obigen Ausgaben notwendig sind. Nichtsdestotrotz wird aber fortlaufend versucht, mögliche Direktkreditgeber*innen für das Projekt zu finden. Diese können eine #{link_to 'Absichtserklärung', '#declaration_of_intent'} unterschreiben, die keine vertragliche Bindung für einen späteren Direktkredit ist, aber dem Projekt hilft, eine bessere Planungssicherheit zu erlangen.

  .section
    %h2 GmbH
    %p Die GmbH wird entweder zuerst von den Vereinsmitgliedern allein gegründet oder gleich zusammen mit dem #{link_to 'Syndikat', 'https://www.syndikat.org/de/finanzierung/', target: '_blank'}.
    %ul
      %li In dem Gesellschaftsvertrag der GmbH wird dem #{link_to 'Syndikat', 'https://www.syndikat.org/de/verbundbausteine/', target: '_blank'} ein Veto-Recht bei Verkaufsabsichten, Satzungsänderungen und Ergebnisverwendung eingeräumt. Somit ist es z.B. sowohl der aktuellen als auch allen nachfolgenden Wohngenerationen nicht mehr möglich, das Wohneigentum in Privatbesitz zurückzuführen.
      %li Anders als bei einem Verein haften nicht die Einzelpersonen für die Kreditschuld.
      %li Die GmbH führt den Kauf des Wohnobjekts oder Grundstücks durch und finanziert auch alle späteren Bebauungen, Renovierungen und Instandhaltungen.
      %li Vor dem Kauf wird ein detaillierter Finanzierungsplan angefertigt, der vom #{link_to 'Syndikat', 'https://www.syndikat.org/de/finanzierung/', target: '_blank'} vor einer Projektrealisierung abgesegnet werden muss. Dies dient der Risikominimierung und bringt unter anderem den Direktkreditgeber*innen eine höhere Sicherheit.
      %li Nach dem Kauf werden die Mieten und die Kredittilgung über die GmbH abgewickelt.
    %p Die tatsächliche Finanzierung setzt sich aus drei Bestandteilen zusammen:
    %ol
      %li Spenden
      %li Direktkredite
      %li Bankkredite
    %p Um einen Bankkredit aufnehmen zu können, muss der/die Kreditnehmer*in üblicherweise zwischen 20 und 30 Prozent der Gesamtkosten an Eigenkapital vorweisen können. Neben vorhandenen Spendengeldern akzeptieren ausgewählte Banken auch Direktkredite als Eigenkapital. Das ermöglicht der GmbH, analog zu einer Privatperson, einen Bankkredit aufzunehmen. Bei der Tilgung unterscheiden sich Direktkredit und Bankkredit wesentlich:
    %ul
      %li
        %strong Direktkredit
        Ein Direktkredit ist häufig befristet und muss nach wenigen Jahren zurückgezahlt werden. Da laufende Bankkredite vorrangig zurückbezahlt werden, wird vor Ablauf einer Direktkreditfrist ein/eine neue/r Unterstützer*in gesucht, der/die diesen Betrag durch einen neuen Direktkredit mit gleichem oder höherem Volumen ersetzt. Ein Projekt besitzt in der Regel viele Direktkreditverträge mit unterschiedlichsten Laufzeiten und Beträgen. Durch fortlaufende Öffentlichkeitsarbeit und Ausbauen des Unterstützer*innennetzwerkes wird gewährleistet, dass auch in der Zukunft alle Direktkredite fristgemäß ausgetauscht werden können. Teils kann sogar der Anteil der Direktkredite an der Gesamtschuld erhöht und die laufenden Bankkredite früher zurückbezahlt werden.
      %li
        %strong Bankkredit
        Fehlende Gelder neben den Spenden und Direktkrediten müssen durch einen oder mehrere Bankkredite ausgeglichen werden. Dabei gelten für die GmbH meist die gleichen Konditionen wie für eine Privatperson. Die Kredite werden über die Mieten zurückbezahlt. Da Direktkredite günstiger als Bankkredite sind, wird versucht den Anteil der Bankkredite möglichst gering zu halten.

  .section
    %h2 Unterstützung
    %p Die Finanzierung kann nur erfolgreich sein, wenn genug Unterstützer*innen durch Spenden und Direktkredite der GmbH das nötige Eigenkapital bereitstellen. Zusätzlich zu einem (meist) verhältnismäßig größeren Bankkredit kann so der Kauf des Wunschwohnobjekts vollzogen werden. Direktkredite geben kann jede*r, selbst die Mitglieder*innen können ihr Projekt mit Direktkrediten unterstützen.
    %p Ein Direktkredit an Pa*radieschen kann unter anderem wegen folgenden Gründen interessant sein:
    %ul
      %li Unterstützung eines solidarischen Projekts in Augsburg
      %li Förderung einer Gruppe von Menschen, die aktiv das #{link_to 'Nachhaltigkeitsbewusstsein', '/self_concept'} der Gesellschaft stärken will
      %li Beitrag zum #{link_to 'Wachstum des Syndikatverbunds', 'https://www.syndikat.org/de/solidartransfer/', target: '_blank'}
      %li Nachhaltige Geldanlage
      %li Stärkung einer Initiative zur Bekämpfung der Mietproblematiken in urbanen Räumen
    %p Ein Direktkredit bringt #{link_to 'finanzielle Risiken', 'https://www.syndikat.org/de/gescheitert/', target: '_blank'} mit sich. Solidarische Unterstützung ist ein Wagnispotential und ein/e Direktkreditgeber*in sollte sich ausreichend über die damit verbundenen Risiken und gesetzlichen Rahmenbedingungen informieren. Direktkredite sind nachrangig und im Falle, dass das Projekt scheitert, werden zunächst alle anderen Kreditgeber*innen ausbezahlt.
    %strong#declaration_of_intent Absichtserklärung
    %p Wir suchen aktiv nach Personen, die uns unverbindliche finanzielle Unterstützung (Absichtserklärung zu einer Direktkreditgabe) zusichern können. Nehmt dafür mit uns #{link_to 'Kontakt', '/contact', target: '_blank'} auf, um weitere Informationen zu erlangen.
    %strong#dontations Spenden
    %p Aufgrund fortlaufend anfallender Kosten freuen wir uns um jeden noch so kleinen Spendenbetrag. Ihr findet eine Spendenbox auf den meisten Pa*radieschen Veranstaltungen.
