.container
  .section
    %h1 Selbstverständnis
    %p Das Selbstverständnis gibt einen Einblick in die Motivation und Ziele von Pa*radieschen.
    %strong Schlagwörter
    .list-inline
      - ['konvivial', 'sozio-ökologische Transformation', 'politisch', 'gemeinwohldienlich', 'genussvoll', 'freudvoll', 'selbstverwaltet', 'selbstbestimmt', 'nachhaltig', 'emanzipatorisch'].each do |tag|
        .list-inline-item.self-concept-tag= tag

  .section
    %h2 Motivation und Zielsetzung
    %p Wir sind eine Gruppe von Menschen, die ein Gemeinschaftswohnprojekt in Zentrumsnähe von Augsburg realisieren möchten. Mit unserem Projekt wollen wir einen Ort für ein selbstverwaltetes, solidarisches und inklusives Zusammenleben schaffen. Wir möchten innerhalb unserer Wohngemeinschaft, aber auch im Zusammenwirken mit der Nachbarschaft und (Stadt-)gesellschaft ein vertrauensvolles und möglichst hierarchiefreies Miteinander und Füreinander möglich machen. Uns motiviert die Lust auf ein nachhaltiges und selbstbestimmtes Leben für jede*n!
    %p Das Projekt ist aus einer kritischen Sicht auf die sich entwickelnde politische und wirtschaftliche Lage bezüglich des Wohnungsmarktes in urbanen Räumen entstanden. Während politische Lösungen für eine Stabilisierung der Preise im städtischen Immobilienmarkt viel zu langsam einen wirksamen Rahmen annehmen, erwirtschaften Unternehmen im Immobiliensektor immer höhere Gewinne zu Lasten der Bürger*innen. Wir fühlen uns von der Politik im Stich gelassen! Wir wollen unser Geld nicht für überteuerte Mietpreise ausgeben und damit den Reichtum einiger Wenigen maximieren, während wir selbst unsere Lebensqualität reduzieren! Unsere Zukunft und die Zukunft aller folgenden Mieter*innen soll sich nicht durch Spekulationen im Immobilienmarkt entscheiden; ein unbegrenzt finanzierbarer Wohnraum darf keine Utopie sein!
    %p Weiter verfolgen wir auch gesellschaftliche Ziele, die durch entsprechende Räumlichkeiten den Bewohner*innen und allen anderen Engagierten die Möglichkeiten zur besseren Vernetzung und Umsetzung von Projekten bietet. Dadurch wollen wir erreichen, dass unter anderem folgende Bereiche gestärkt werden:
    %ul
      %li Projekte im Bereich der Nachhaltigkeit
      %li Unterstützung bei der Integration von Geflüchteten
      %li Freiraum für kreative Projekte aller Art
      %li Soziales Zentrum für Menschen mit gleichen Interessen im Rahmen der Freizeitgestaltung
      %li Verstärktes Naturbewusstsein
      %li Erhalten eines lebenswerten, städtischen Wohnraums
      %li Kulturelle Unterhaltung
      %li Bildungsveranstaltungen
      %li Aktionen gegen Diskriminierung in der Gesellschaft
      %li Unterstützung von weiteren Syndikatsprojekten
    %p Pa*radieschen soll ein Ort werden, der offen für verschiedene Lebensweisen, Alter, Gender, sexuelle Orientierungen, Sprachen oder Herkunftsorte ist. Wir legen hohen Wert auf Solidarität, Wertschätzung, Zusammenhalt, friedvolles Miteinander von Mensch, Tier und Natur, Genuss, Freiraum und Selbstbestimmung. Wir wollen Freude daran finden, uns selbst zu verwirklichen und uns gegen Probleme in der Gesellschaft einzusetzen. Alle Entscheidungen wollen wir gemeinsam nach dem #{link_to 'Konsensprinzip', 'https://de.wikipedia.org/wiki/Konsensprinzip', target: '_blank'} treffen.

  .section
    %h2 Unser Umfeld
    %p Wir sind unter anderem stolz auf folgende Projekte und Orte, die es bereits in Augsburg gibt. Hier fühlen wir uns wohl und Pa*radieschen soll ein weiteres Projekt werden, das in diese Reihe passt:
    .row
      .col-md-3
        .card.mb-4
          .card-header Unser Haus e.V.
          = link_to 'https://www.facebook.com/unserhaus.ev', target: '_blank' do
            = image_tag 'projects/unser_haus_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Dreizehn
          = link_to 'https://www.facebook.com/dreizehnindermuehle', target: '_blank' do
            = image_tag 'projects/dreizehn_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Neruda Kulturcafe
          = link_to 'https://www.facebook.com/kulturcafe.neruda', target: '_blank' do
            = image_tag 'projects/neruda_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Werkraum Augsburg
          = link_to 'https://www.facebook.com/werkraumaugsburg2.0', target: '_blank' do
            = image_tag 'projects/werkraum_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header contact Augsburg
          = link_to 'https://www.facebook.com/contact-in-Augsburg-eV-176726565715308', target: '_blank' do
            = image_tag 'projects/contact_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Bikekitchen Augsburg
          = link_to 'https://www.facebook.com/bikekitchen.augsburg', target: '_blank' do
            = image_tag 'projects/bikekitchen_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Foodsharing
          = link_to 'https://www.facebook.com/foodsharing.de', target: '_blank' do
            = image_tag 'projects/foodsharing_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Grandhotel Cosmopolis
          = link_to 'https://www.facebook.com/grandhotelcosmopolis', target: '_blank' do
            = image_tag 'projects/grandhotel_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Provino Club
          = link_to 'https://www.facebook.com/provinoclub', target: '_blank' do
            = image_tag 'projects/provino_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header City Club Augsburg
          = link_to 'https://www.facebook.com/Café-327533084015446', target: '_blank' do
            = image_tag 'projects/city_club_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Manomama
          = link_to 'https://www.facebook.com/manomama', target: '_blank' do
            = image_tag 'projects/manomama_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Café "Tür an Tür"
          = link_to 'https://www.facebook.com/cafetuerantuer', target: '_blank' do
            = image_tag 'projects/turantur_cafe_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Ruta Natur
          = link_to 'https://www.facebook.com/rutanatur', target: '_blank' do
            = image_tag 'projects/ruta_natur_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header OpenLab Augsburg
          = link_to 'https://www.facebook.com/openlab.augsburg', target: '_blank' do
            = image_tag 'projects/openlab_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Grow up
          = link_to 'https://www.facebook.com/GrowUpInterkulturellerGartenAugsburg', target: '_blank' do
            = image_tag 'projects/grow_up_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header Contact-Dorf Augsburg
          = link_to 'https://www.facebook.com/contactDorfAugsburg', target: '_blank' do
            = image_tag 'projects/contact_dorf_fb.jpg', class: 'card-img-top'
      .col-md-3
        .card.mb-4
          .card-header SoLaWi Augsburg
          = link_to 'https://www.facebook.com/SoLaWiAugsburg', target: '_blank' do
            = image_tag 'projects/solawi_fb.jpg', class: 'card-img-top'
